@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.Container {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    margin-bottom: 100px;
}

#problemHeader {
    color: #27AE60;
    text-align: center;
    margin-bottom: 30px;
}

.problemContent {
    font-weight: 200;
    color: #828282;
    font-size: 25px;
    margin-left: 10%;
}

#farmingImage {
    margin-right: 10%;
}