
.Container {
    overflow: hidden;
    margin-bottom: 100px;
}
#problemShell {
    margin-top: 150px;
}
#problemHeader {
    color: #175F1C;
    text-align: center;
    margin-bottom: 30px;
}

.problemContent {
    font-weight: 200;
    color: #828282;
    font-size: 25px;
    margin-left: 10%;
}

#deforestationImage {
    margin-right: 10%;
    width: 90%;
    height: 100%;
}