@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

#navContainer {
    margin-top: 20px;
    padding-bottom: 15px;
    height: 50px;
    white-space: nowrap;
    text-align: center;
}

#navTitle {
    color: #175F1C;
    float: left;
    margin-left: 30px;
    font-size: 25px;
    font-weight: bold;
}

.navList {
    text-decoration: none;;
    display:inline-block;
    border:none;
    margin: 50px;
    margin-top: 0px;
    color: #175F1C; 
    background-color: transparent;
    font-size: 20px;
}

.navList:hover {
    color: #175f1cb9
}

#playButton {
    color: white;
    float: right;
    margin-right: 5%;
    display: block;
    width: 150px;
    background: #219653;
    border: none;
    border-radius: 2px; 
}