@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.Container {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#storyShell {
    margin-top: 150px;
}

#storyHeader {
    color: #175F1C;
    text-align: center;
    margin-bottom: 30px;
}

.storyContent {
    font-weight: 200;
    color: #828282;
    font-size: 25px;
}

#progressGraphic {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    display: block;
    width: 100%;
    /* margin-top: 25%; */
} 

