
#roadmapContainer {
    background-image: url('../../../assets/Rectangle.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1000px;
    overflow: hidden;
    margin-top: 200px;
}

#roadmapSubContainer {
    height: fit-content;
    overflow: hidden;
    margin-top: 150px;
}


#roadmapHeader {
    text-align: center;
    font-weight: bold;
    color: #0f3f13;
    font-size: 40px;
    margin-bottom: 50px;
    
}

.roadmapContentTop {
    text-align: center;
    font-size: 25px;
    width: 100%;
    color: #000000;
}


.roadmapContentBottom {
    text-align: center;
    font-size: 25px;
    width: 100%;
    color: #000000;
    padding: 70px 0;
}

#timeline {
    width: 100%;
    height: 100%;
}

.timelineIconTop{
    margin-right: auto;
    margin-left: auto;
    display:  block;
}

.timelineIconBottom{
    margin-right: auto;
    margin-left: auto;
    display:  block;
}