
#footerContainer {
    font-family: 'VT323', monospace;
    margin-top: 150px;
    padding: 40px;
    height: 50px;
    white-space: nowrap;
    text-align: center;
    background-color: rgba(111, 207, 151,0.5);
    height: 200px;
}

#copyright {
    float: left;
    display: block;
    color: rgb(216, 216, 216);
    font-size: 20px;
    margin-right: 20px;
}
#footerTitle {
    font-family: 'VT323', monospace;
    display:inline-block;
    color: #033b1b;
    font-size: 30px;
    font-weight: bold;
}

.footerList {
    font-family: 'VT323', monospace;
    float: left;
    display: block;
    border:none;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 50px;
    color: rgb(216, 216, 216); 
    background-color: transparent;
}

.socialList {
    float: right;
    display: block;
    border:none;
    width: 1%;
    margin-top: 10px;
    margin-right: 50px;
    color: #175F1C; 
    background-color: transparent;
}

#playButton {
    font-family: 'VT323', monospace;
    color: white;
    float: right;
    margin-right: 5%;
    display: block;
    width: 200px;
    background: #219653;
    border: none;
    border-radius: 2px; 
}