@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Roboto:wght@500&family=VT323&display=swap');
body {
  margin: 0;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(22, 22, 22);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
